.main{
    margin: 30px;
    background-color:white ;
}
body{
    background-color:#efefef;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.error{
    margin-top: 5px;
}
.select-tag{
    display: none;
    margin-top: 5px;
}
.publish-tag-tab{
    padding-top: 5px;
}
.publish-tag-tab .label-info{
    margin: 5px 5px;
    white-space:normal;
    display: inline-block;
}